.App {
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #ffffff;
    height: 190px;
    padding: 20px;
    color: black;
    text-align: center;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

table {
    border: 1px solid mediumvioletred;
}

th {
    width: 20%;
    border: 1px solid orangered;
    background-color: #bbb;
}

td {
    width: 20%;
    background-color: #eee ;
}
